.about_sec_first_part_img img {
    filter: drop-shadow(20px 30px 10px rgb(12, 12, 34));
}


.about_sec_second_part_abt_culture_inner {
    border-right: 3px solid #000000;
}

.about_sec_second_part_abt_culture_inner:last-child {
    border: none;
}