/* MEDIA QUERIES */

@media only screen and (max-width: 953px) {
    .contact_sec {
        display: flex;
        flex-direction: column;
        padding: 5rem 5rem 0 5rem;
    }

    .contact_sec_left {
        margin: 0rem 0;
    }

    .contact_sec_right {
        margin: 10rem 0;
    }
}

@media only screen and (max-width: 560px) {
    .contact_sec {
        padding: 1rem;
    }

    .contact_sec_left h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

}

@media only screen and (max-width: 450px) {
    .contact_sec {
        text-align: center;
    }

    .contact_sec_left {
        margin: 0 auto;
    }

    /* .contact_sec_left form label input, .contact_sec_left form label textarea {
        width: auto; 
    } */
}