/* MEDIA QUERIES */

@media only screen and (max-width: 953px) {
    .contact_sec {
        display: flex;
        flex-direction: column;
        padding: 4rem 1rem 0 1rem;
        width: 100%;
    }

    .contact_sec_left {
        margin: 0rem;
        padding: 2rem;
        text-align: center;
    }

    .contact_sec_left form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact_sec_left form input, .contact_sec_left form textarea {
        width: 75vw;
    }


    .contact_sec_left form button {
        width: 75vw;
    }

    .contact_sec_right {
        margin: 4rem 0;
        padding: 2rem;
        text-align: center;
    }
}





@media only screen and (max-width: 560px) {
    .contact_sec {
        padding: 1rem;
    }

    .contact_sec_left h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

}

@media only screen and (max-width: 450px) {
    .contact_sec {
        text-align: center;
    }

    .contact_sec_left {
        margin: 0 auto;
    }
}


@media only screen and (max-width: 325px) {
    .contact_sec {
        padding: 0;
    }

    .contact_sec_left h1 {
        font-size: 2.2rem;
    }

    .contact_sec_left form input, .contact_sec_left form textarea {
        padding: .5rem 1rem;
        width: 80vw;
    }
    
    .contact_sec_left form button {
        padding: .25rem 1rem;
        margin: 0.5rem auto;
        font-weight: 500;
        width: 80vw;
    }

    .contact_sec_right {
        padding: 1rem 1rem;
        /* font-size: ; */
    }

    .contact_sec_right h1 {
        font-size: 1.5rem;
    }

}