.main_head {
    font-size: 4rem;
    line-height: 4.5rem;
}

.home_left p {
    color: white;
}

.home_left_btn button {
    border: 2px solid rgb(253, 190, 82);
}

.coin_img {
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-20deg);
    width: 40em;
    filter: drop-shadow(50px 80px 20px rgb(43, 43, 43));
}

.home_abt_left img {
    height: 40rem;
    width: 100rem;
}

.home_abt_right_head {
    line-height: 3.5rem;
}

.back_text {
    font-size: 15rem;
}

.lock_img {
    filter: drop-shadow(20px 30px 30px black);
}