.main_head {
    font-size: 4rem;
    line-height: 4.5rem;
}

.home_left p {
    color: white;
}

.home_left_btn button {
    border: 2px solid rgb(253, 190, 82);
}

.coin_img {
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(-20deg);
    width: 40em;
    filter: drop-shadow(50px 80px 20px rgb(43, 43, 43));
}

.home_abt_left img {
    height: 40rem;
    width: 100rem;
}

.home_abt_right_head {
    line-height: 3.5rem;
}

.back_text {
    font-size: 15rem;
}

.lock_img {
    filter: drop-shadow(20px 25px 10px black);
}







/* MEDIA QUERIES */

@media only screen and (max-width: 1317px) {
    .home_abt {
        padding: 2rem 1rem;
    }

    .locker_section {
        padding: 6rem 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    .locker_section {
        display: flex;
        flex-direction: column;
        padding: 4rem 0rem;
    }

    .locker_sec_left {
        margin-bottom: 4rem;
    }

    .locker_sec_left img {
        height: 20rem;
    }

    .locker_sec_right {
        display: flex;
        flex-direction: col;
        align-items: center;
        text-align: center;
    }

    .locker_sec_right button {
        margin: 2.5rem auto 0 auto;
    }

    .sust_sec {
        padding: 10rem 0;
    }
}

@media only screen and (max-width: 1020px) {
    .home_abt {
        display: flex;
        flex-direction: column-reverse;
        padding: 5rem 2rem;
        text-align: center;
    }

    .home_abt_left img {
        display: none;
    }

    .last_sec {
        padding: 4rem 0;
    }

    .last_sec_top {
        margin: 0rem auto 3rem auto;
    }

    .last_sec_top h1 {
        font-size: 4rem;
    }

    .last_sec_bottom {
        padding: .5rem 0;
    }

    .last_sec_bottom img {
        height: 3.5rem;
    }
}


@media only screen and (max-width: 915px) {
    .home_right img {
        display: none;
    }

    .home_values {
        padding: 0rem;
        margin: 3rem 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .home_values .home_below_inner {
        /* padding: .25rem 2rem;
        margin: .75rem auto;
        border: 2px solid rgb(219, 179, 0);
        border-radius: 2rem; */
        margin: 1.5rem auto;
        flex-basis: 50%;
    }

    .home_values .home_below_inner h1 {
        margin-bottom: 0;
        font-size: 1rem;
    }

    .home_values .home_below_inner p {
        font-size: 2rem;
    }

    .home_sec {
        display: flex;
        flex-direction: column;
    }

    .last_sec {
        padding: 2rem 1rem;
    }

    .last_sec_top h1 {
        font-size: 3rem;
    }

    .last_sec_bottom img {
        margin: 0 2rem;
        height: 3rem;
    }
}


@media only screen and (max-width: 650px) {
    html {
        font-size: 62.5%;
    }

    .home_sec {
        padding: 2.5rem;
    }

    .home_abt {
        padding: 3rem .5rem;
    }

    .sust_sec {
        padding: 6rem 0;
    }

    .locker_sec_left img {
        height: 15rem;
    }

}



@media only screen and (max-width: 400px) {
    html {
        font-size: 50%;
    }
}



@media only screen and (max-width: 315px) {
    html {
        font-size: 37.5%;
    }
}